@import 'tailwindcss';

@layer utilities {
  @keyframes flipIn {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-flip-in {
    animation: flipIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
}
